.btnproduct:hover{
    background: rgb(187, 187, 187);
  background: radial-gradient(circle, rgba(187, 187, 187) 0%, rgba(187, 187, 187,1) 100%) ;

}

.v44:hover{
    color: white;
}




.plusprdct{
  cursor: pointer;
  font-style: italic;
}

.plusprdct:hover {
  font-weight: 250;
  text-decoration : underline;
}

.productimage:hover {
  cursor: zoom-in;
  transform: scale(1.2,1.2);
  transition-duration: 2s;
}


.j17{
  box-shadow: 0 4px 8px 0 gray;
  margin-bottom: 12%;

}  

.dispoarticle {
  width: 20%;
  position: absolute;
  margin-left: 40%;
 top : 0 ; 
 z-index: 9;
}


.button5 {
  display: inline-block;
    background:  rgb(0, 136, 185);
  color: #fff;
  padding: 8px 20px;
  border-radius: 3px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button5:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}

.cart{width: 15%;}