.nostech1 {color:#4F69C6 ;
  animation: fadeIn; 
  animation-duration: 3s;
  margin-top: 0px; 


}
  

.bg{
  margin-top: -15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
}


  


  @media screen and (max-width: 40px) {

  }



.ContainerHome{
  animation: fadeInLeft; 
  animation-duration: 2s;
 }




@media screen and (max-width: 40px) {
  .video {
    width: 2%;
    height: 2%;
  z-index: -1;
  flex-wrap: wrap;
}
}

.machineox{
  width: 100%;
}

h1 {
    display: flex;
    flex-direction: row;
  }
  h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    border-color:#4F69C6 ;
    margin: auto;
  
  }
  h1:before {
    margin-right: 10px
  }
  h1:after {
    margin-left: 10px
  }

