.containers12 {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}


.label1 { width: 500px;
margin-top: 50px;
}


.container543{     background-color: #7ad2e1;
    padding-top: 2%;
    padding-bottom: 2%;
}

.label2{
    width: 450px;
    margin-top: 55px;
}



@media screen and (max-width: 740px) {
    .containers12 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }


  @media screen and (max-width: 740px) {
    .label1 { width: 300px;
        margin-top: 50px;
        }
    
}


@media screen and (max-width: 740px) {
    .label2{
        width: 300px;
        margin-top: 55px;
    }
    
}


.send{width: 25px;
margin-left: 5px;}