.editLabel{display: flex;
flex-direction: row;}


.editbtn{background: rgb(74, 136, 218);
    background: radial-gradient(circle, rgb(74, 136, 218) 0%, rgb(74, 136, 218) 100%);
}

    .textbtn{color: rgb(255, 255, 255);
        font-family: 'Ubuntu', sans-serif;
        font-size: 13.5px;
        letter-spacing :1.7px;}

.editico{width: 35px;
cursor: pointer;}

.editico:hover{    animation:swing; 
    animation-duration: 2s;}


        .Login {color:rgb(145,195,88) ;
            margin-top: 80px; 
            animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
            animation-duration: 2s;}
        
        .cadre7 { 
            background-color: rgb(248, 248, 248); 
            height: 350px; width: 400px;
        border-radius: 6px;
        justify-content: center;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 80px;
        
        }  
        
        
        .cadre7:hover {
            box-shadow: 0 4px 8px 0 gray;
          
            border-radius: 10px;}
        
        .cadre2{margin-top: 60px;
            font-family: 'Roboto', sans-serif;}
        
        .bouton{background: rgb(145,195,88);
            background: radial-gradient(circle, rgba(145,195,88,1) 0%, rgba(146,193,86,1) 100%);}
        
        .boutontext{color: white;}            