


.editbtn{background: rgb(74, 136, 218);
    background: radial-gradient(circle, rgb(74, 136, 218) 0%, rgb(74, 136, 218) 100%);
}

    .textbtn{color: rgb(255, 255, 255);
        font-family: 'Ubuntu', sans-serif;
        font-size: 13.5px;
        letter-spacing :1.7px;}


    .eye12{width: 25px;
        cursor: pointer;
        position: absolute;
        margin-left: 125px;
        margin-top: 7px;

        }    


  
        
        .cadre5 { 
        background-color: rgb(248, 248, 248); 
        height: 270px; width: 400px;
        border-radius: 6px;
        justify-content: center;
        margin: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 80px;
        
        }  
        
        
        .cadre5:hover {
            box-shadow: 0 4px 8px 0 gray;
          
            border-radius: 10px;}
        
        .cadre2{margin-top: 60px;
            font-family: 'Roboto', sans-serif;}
        
        .boutontext{color: white;}            

        .MAJ {display: flex;
        flex-direction: row;
    flex-wrap: wrap;
margin-top: 20px;
justify-content: space-between;}